<footer class="@@theme">
    <div class="container">
        <div class="d-flex justify-content-center justify-content-md-between align-items-center copirating">
            <p>Всі права захищені © 2019</p>
            <p>Разработано <a href="https://fairtech-marketing.com.ua/" target="_blank">fairtech.marketing</a></p>
        </div>

    </div>
</footer>
@@include('dialogs.html')
<script src="js/menu.min.js"></script>
<script src="js/autoScroling.min.js"></script>
<script src="js/animation-adaptation.min.js"></script>
<script src="js/app.min.js"></script>
</body>

</html>