<div class="main-menu">
  <div class="bg">
    <div class="triangle"></div>
    <div class="container h-100 position-relative">
      <img src="img/corn-menu-left.png" alt="menu-left" class="corn-menu-left">
      <div class="row h-100">
        <div class="col-6 h-100">
          <nav class="menu-left">
            <h4>Меню</h4>
            <ul>
              <li><a href="/">Головна</a></li>
              <li><a href="/o-company.html">Про компанію</a></li>
              <li><a href="#"> Переваги співпраці</a></li>
              <li><a href="#">Про продукцію</a></li>
              <li><a href="#">Контакти</a></li>
            </ul>
            <p>Крім того, венесуельський какао визнаний кращим в<br /> світі завдяки унікальному смаку та аромату!</p>
            <button class="btn-gold"> Напишіть нам</button>
          </nav>
        </div>
        <div class="col-6 d-flex align-items-end justify-content-end">
          <nav class="menu-right">
            <h4>Напрямки бізнесу</h4>
            <ul>
              <li><a href="#">Експорт кави </a></li>
              <li><a href="#">Експорт какао</a></li>
              <li><a href="#">Експорт зернових</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="close-menu">
        <button class="btn-gold-close"><img src="img/close-button.png" alt="close-button"></button>
        <p class="close-text">закрити</p>
      </div>
      <img src="img/corn-menu-right.png" alt="menu-right" class="corn-menu-right">
    </div>
  </div>
</div>