* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next Cyr';
  position: relative;
  &.no-scroll {
    overflow: hidden;
  }
}

button{
  &:focus{
    outline: none;
  }
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.delay-1-5s {
  animation-delay: 1.5s;
}
.delay-2-5s {
  animation-delay: 2.5s;
}

.wow {
  animation-delay: 1s;
}

@keyframes rotate {
  from { transform: translate(-50%, -50%) rotate(0); }
  to { transform: translate(-50%, -50%) rotate(360deg);} 
}

.transition-unset{
  transition: unset !important;
}