* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next Cyr';
  position: relative;
  &.no-scroll {
    overflow: hidden;
  }
}

button{
  &:focus{
    outline: none;
  }
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.delay-1-5s {
  animation-delay: 1.5s;
}
.delay-2-5s {
  animation-delay: 2.5s;
}

.wow {
  animation-delay: 1s;
}

@keyframes rotate {
  from { transform: translate(-50%, -50%) rotate(0); }
  to { transform: translate(-50%, -50%) rotate(360deg);} 
}

.transition-unset{
  transition: unset !important;
}

#catalog-lines{
  width:100%;
  height:100%;
  display:block;
  overflow: hidden;
  transform: translate3d(0,0,0);
  text-align: center;
  opacity: 1;
}

#catalog-lines path {
  stroke: #e3b079;
}

#line {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  text-align: center;
  opacity: 1;
}

#preimushestvo-line{
  width:100%;
  height:100%;
  display:block;
  overflow: hidden;
  transform: translate3d(0,0,0);
  text-align: center;
  opacity: 1;
}

#preimushestvo-line path {
  stroke: #e3b079;
}

#tovar-line{
  width:100%;
  height:100%;
  display:block;
  overflow: hidden;
  transform: translate3d(0,0,0);
  text-align: center;
  opacity: 1;
}

#tovar-line path {
  stroke: #e3b079;
}

#company-line{
  width:100%;
  height:100%;
  display:block;
  overflow: hidden;
  transform: translate3d(0,0,0);
  text-align: center;
  opacity: 1;
}

#company-line path {
  stroke: #e3b079;
}

#partner-animation{
  width:100%;
  height:100%;
  display:block;
  overflow: hidden;
  transform: translate3d(0,0,0);
  text-align: center;
  opacity: 1;
}
#partner-animation path {
  stroke: #e3b079;
}