.error-main{
  background: url(../img/bg-error.png);
  min-height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 250px 0;
  header{
    .logo p{
      color: #24222d;
    }
    .languages p {
      color: #24222d;
    }
  }
  .error-number{
    position: relative;
    .flowers{
      position: absolute;
      height: 113px;
      width: auto;
      top: -59px;
      right: 35%;
      z-index: 1;
    }
    img{
      width: 100%;
    }
  }
  h4{
    color: #24222d;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 50px 0 35px;
  }
  h5{
    color: #24222d;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    min-height: 34px;
    display: flex;
    align-items: center;
    a{
      display: block;
      font-size: 24px;
      font-weight: 400;
      color: #e3b079;
      text-decoration: underline;
      margin: 0;
      transition: all 0.3s;
      line-height: 0;
      &:hover{
        font-size: 26px;
      }
    }
  }
}