.home-main{
  background: url(../img/bg-index.png);
  min-height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
  padding: 100px 0;
  .line-elements{
    .line-left, .line-right {
      width: 26%;
      height: 3px;
      background-color: #e3b079;
      display: block;
      animation-delay: 1s;
    }
    img{
      margin: 0 25px;
      animation-delay: 1.25s;
    }
  }
  h1{
    color: #ffffff;
    font-family: "Avenir Next Cyr";
    font-size: 80px;
    font-weight: 400;
    margin: 35px 0 110px;
    text-align: center;
    animation-delay: 1.5s;
    span{
      font-weight: bold;
      font-style: normal;
    }
  }
  .business-areas{
    text-decoration: none;
    .business{
      width: calc(33% - 14px);
      border-bottom: 8px solid rgba(255, 255, 255, 0.07);
      height: 130px;
      padding-bottom: 25px;
      transition: all 0.3s;
      display: flex;
      margin-bottom: 50px;
      img{
        width: 50px;
        height: 50px;
        margin-right: 10px;
      }
      h6{
        color: #e3b079;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        margin:0 0 10px;
      }
      p{
        color: rgba(255, 255, 255, 0.73);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin: 0;
        height: 100%;
        overflow: hidden;
        
      }
      &:hover{
        border-color: #e3b079;
        padding-bottom: 6px;
        height: 110px;
        margin-bottom: 69px;
      }
    }
  }
}