@@include('components/_header.html', {"menuImg": "img/menu-dark.png", "theme": "black animated zoomIn", "title": "Каталог"})
<main class="catalog-main">
    <div class="container">
        <div class="d-flex catalog-tabs justify-content-between flex-wrap">
            <div class="column-left">
                <h4>Какао</h4>
                <div class="tab-content">
                    <div class="tab-pane show animation" data-tab-content="1">
                        <img src="../img/img-catalog.png" alt="catalog">
                        <p>Разнообразный и богатый опыт сложившаяся структура организации представляет собой интересный эксперимент проверки новых предложений. Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации
                            дальнейших направлений развития.</p>
                        <p>Задача организации, в особенности же постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Таким образом начало повседневной
                            работы по формированию позиции позволяет выполнять важные задания по разработке модели развития. </p>
                        <button class="btn-gold">Доставка</button>
                    </div>
                    <div class="tab-pane" data-tab-content="2">
                        <img src="../img/img-catalog.png" alt="catalog">
                        <p>Разнообразный и богатый опыт сложившаяся структура организации представляет собой интересный эксперимент проверки новых предложений. Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации
                            дальнейших направлений развития.</p>
                        <p>Задача организации, в особенности же постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Таким образом начало повседневной
                            работы по формированию позиции позволяет выполнять важные задания по разработке модели развития. </p>
                        <button class="btn-gold">Доставка</button>
                    </div>
                    <div class="tab-pane" data-tab-content="3">
                        <img src="../img/img-catalog.png" alt="catalog">
                        <p>Разнообразный и богатый опыт сложившаяся структура организации представляет собой интересный эксперимент проверки новых предложений. Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации
                            дальнейших направлений развития.</p>
                        <p>Задача организации, в особенности же постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Таким образом начало повседневной
                            работы по формированию позиции позволяет выполнять важные задания по разработке модели развития. </p>
                        <button class="btn-gold">Доставка</button>
                    </div>
                    <div class="tab-pane" data-tab-content="4">
                        <img src="../img/img-catalog.png" alt="catalog">
                        <p>Разнообразный и богатый опыт сложившаяся структура организации представляет собой интересный эксперимент проверки новых предложений. Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации
                            дальнейших направлений развития.</p>
                        <p>Задача организации, в особенности же постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Таким образом начало повседневной
                            работы по формированию позиции позволяет выполнять важные задания по разработке модели развития. </p>
                        <button class="btn-gold">Доставка</button>
                    </div>
                    <div class="tab-pane" data-tab-content="5">
                        <img src="../img/img-catalog.png" alt="catalog">
                        <p>Разнообразный и богатый опыт сложившаяся структура организации представляет собой интересный эксперимент проверки новых предложений. Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации
                            дальнейших направлений развития.</p>
                        <p>Задача организации, в особенности же постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Таким образом начало повседневной
                            работы по формированию позиции позволяет выполнять важные задания по разработке модели развития. </p>
                        <button class="btn-gold">Доставка</button>
                    </div>
                    <div class="tab-pane" data-tab-content="6">
                        <img src="../img/img-catalog.png" alt="catalog">
                        <p>Разнообразный и богатый опыт сложившаяся структура организации представляет собой интересный эксперимент проверки новых предложений. Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации
                            дальнейших направлений развития.</p>
                        <p>Задача организации, в особенности же постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Таким образом начало повседневной
                            работы по формированию позиции позволяет выполнять важные задания по разработке модели развития. </p>
                        <button class="btn-gold">Доставка</button>
                    </div>
                </div>
            </div>
            <div class="name-tabs nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="btn-border-black view-toggle">
                  <span class="pills-btn-text d-none">Показать плиткой</span>
                  <span class="tile-btn-text">Обычный вид</span>
                </button>
                <div class="toggle-animation open">
                    <div class="category pills-wrap d-none">
                        <div class="forastero">
                            <h6>Форастеро</h6>
                        </div>
                        <div class="owl-carousel catalog-carousel">
                            <a class="nav-link" data-tab-control="1">
                                <div class="kind-catalog">
                                    <img src="../img/img-catalog-category.png" alt="catalog-category">
                                    <div class="info-categoty">
                                        <h6>Форастеро</h6>
                                        <p>Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития.</p>
                                    </div>
                                </div>
                            </a>
                            <a class="nav-link" data-tab-control="2">
                                <div class="kind-catalog">
                                    <img src="../img/img-catalog-category.png" alt="catalog-category">
                                    <div class="info-categoty">
                                        <h6>Форастеро</h6>
                                        <p>Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития.</p>
                                    </div>
                                </div>
                            </a>
                            <a class="nav-link" data-tab-control="3">
                                <div class="kind-catalog">
                                    <img src="../img/img-catalog-category.png" alt="catalog-category">
                                    <div class="info-categoty">
                                        <h6>Форастеро</h6>
                                        <p>Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="corienta">
                            <h6>Кориенте</h6>
                        </div>
                        <div class="owl-carousel catalog-carousel">
                            <a class="nav-link" data-tab-control="4">
                                <div class="kind-catalog">
                                    <img src="../img/img-catalog-category.png" alt="catalog-category">
                                    <div class="info-categoty">
                                        <h6>Кориенте</h6>
                                        <p>Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития.</p>
                                    </div>
                                </div>
                            </a>
                            <a class="nav-link" data-tab-control="5">
                                <div class="kind-catalog">
                                    <img src="../img/img-catalog-category.png" alt="catalog-category">
                                    <div class="info-categoty">
                                        <h6>Кориенте</h6>
                                        <p>Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития.</p>
                                    </div>
                                </div>
                            </a>
                            <a class="nav-link" data-tab-control="6">
                                <div class="kind-catalog">
                                    <img src="../img/img-catalog-category.png" alt="catalog-category">
                                    <div class="info-categoty">
                                        <h6>Кориенте</h6>
                                        <p>Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="tile-wrap">
                        <div class="move-top">
                            <ul class="data-list">
                                <li class="item" style="background-image: url(../img/catalog/forastero.png)" data-tab-control="1">
                                    <div class="item-inner">
                                        <h3 class="title">Форастеро</h3>
                                        <p class="description">Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития.</p>
                                    </div>
                                </li>
                                <li class="item" style="background-image: url(../img/catalog/forastero.png)" data-tab-control="2">
                                    <div class="item-inner">
                                        <h3 class="title">Форастеро</h3>
                                        <p class="description">Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития.</p>
                                    </div>
                                </li>
                                <li class="item" style="background-image: url(../img/catalog/forastero.png)" data-tab-control="3">
                                    <div class="item-inner">
                                        <h3 class="title">Форастеро</h3>
                                        <p class="description">Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития.</p>
                                    </div>
                                </li>
                                <li class="item" style="background-image: url(../img/catalog/forastero.png)" data-tab-control="1">
                                    <div class="item-inner">
                                        <h3 class="title">Форастеро</h3>
                                        <p class="description">Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития.</p>
                                    </div>
                                </li>
                                <li class="item" style="background-image: url(../img/catalog/forastero.png)" data-tab-control="2">
                                    <div class="item-inner">
                                        <h3 class="title">Форастеро</h3>
                                        <p class="description">Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="move-bottom">
                            <ul class="data-list">
                                <li class="item" style="background-image: url(../img/catalog/koriente.png)" data-tab-control="4">
                                    <div class="item-inner">
                                        <h3 class="title">Кориенте</h3>
                                        <p class="description">Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития.</p>
                                    </div>
                                </li>
                                <li class="item" style="background-image: url(../img/catalog/forastero.png)" data-tab-control="5">
                                    <div class="item-inner">
                                        <h3 class="title">Кориенте</h3>
                                        <p class="description">Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития.</p>
                                    </div>
                                </li>
                                <li class="item" style="background-image: url(../img/catalog/koriente.png)"  data-tab-control="6">
                                    <div class="item-inner">
                                        <h3 class="title">Кориенте</h3>
                                        <p class="description">Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития.</p>
                                    </div>
                                </li>
                                <li class="item" style="background-image: url(../img/catalog/forastero.png)" data-tab-control="4">
                                    <div class="item-inner">
                                        <h3 class="title">Кориенте</h3>
                                        <p class="description">Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития.</p>
                                    </div>
                                </li>
                                <li class="item" style="background-image: url(../img/catalog/koriente.png)" data-tab-control="5">
                                    <div class="item-inner">
                                        <h3 class="title">Кориенте</h3>
                                        <p class="description">Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@@include('components/_footer.html', {"theme": "black-bg animated zoomIn"})