@@include('components/_header-buisnes.html', {"menuImg": "img/menu-light.png", "theme": "white animated zoomIn", "title": "Coffe"})
<main class="coffe-main">
  <div class="info-coffe">
    <div class="container">
      <div class="parigon-coffe d-flex justify-content-between align-items-center flex-wrap">
        <div class="photo-coffe">
          <img src="../img/coffe-pages.png" alt="coffe" class="animated fadeIn">
        </div>
        <div class="title-coffe">
          <h4 class="animated fadeIn"><span>Паригон Украина  -</span><br />
            лучшие какао бобы<br />из Венесуэлы
          </h4>
          <a href="catalog.html" class="link-text animated fadeIn">Посмотреть нашу продукцию</a>
        </div>

      </div>
      <div class="work-stages d-flex justify-content-between flex-wrap">
        <div class="text-stages">
          <h3 class="animated fadeIn">
            Основные этапы<br />
            работы с кофе:
          </h3>
          <p class="animated fadeIn">Компанія <span>PARIGON COCOA</span> входить до групи компаній <span>PARIGON </span>з офісами у Венесуелі, Україні та Болгарії. <span>PARIGON COCOA</span> була створена з метою забезпечення виробників шоколаду постійними поставками ексклюзивних сортів ароматних какао-бобів з <span>Венесуели.</span></p>
          <a href="info-company.html" class="animated fadeIn link-text d-none d-md-flex">Узнать о нас больше</a>
        </div>
        <div class="photo-stages">
          <div class="d-flex justify-content-between align-items-center">
            <div class="stages-wrap animated fadeIn faster">
              <div class="bg-stages">
                <img src="../img/growing.png" alt="growing" class="text">
                <img src="../img/plant.png" alt="plant " class="inner">
                <p class="number">01</p>
              </div>
            </div>
            <div class="stages-wrap animated fadeIn">
              <div class="bg-stages">
                <img src="../img/transport.png" alt="transport" class="text">
                <img src="../img/avto.png" alt="avto" class="inner">
                <p class="number">02</p>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="stages-wrap animated fadeIn slower">
              <div class="bg-stages">
                <img src="../img/processing.png" alt="grus" class="text">
                <img src="../img/soil.png" alt="soil" class="inner">
                <p class="number">03</p>
              </div>
            </div>
          </div>
          <div class="pointer d-none d-md-block animated fadeIn">
            <img src="../img/figur.png" alt="figur">
          </div>
          <a href="info-company.html" class="animated fadeIn link-text d-flex d-md-none">Узнать о нас больше</a>
        </div>
      </div>
      <div class="benefits-collboration d-flex justify-content-between align-items-center flex-wrap">
        <div class="photo-benefits">
          <img src="../img/man.png" alt="man" class="animated fadeIn">
          <a href="preimushestvo-rabotu.html" class="animated fadeIn link-text d-block d-md-none">Узнать подробнее</a>
        </div>
        <div class="text-benefits">
          <h3 class="animated fadeIn">Преимущества <br />
            сотрудничества
          </h3>
          <p class="animated fadeIn">Компанія <span>PARIGON COCOA</span> входить до групи компаній <span>PARIGON </span>з офісами у Венесуелі, Україні та Болгарії. <span>PARIGON COCOA</span> була створена з метою забезпечення виробників шоколаду постійними поставками ексклюзивних сортів ароматних какао-бобів з <span>Венесуели.</span></p>
          <a href="preimushestvo-rabotu.html" class="animated fadeIn link-text d-none d-md-flex">Узнать подробнее</a>
        </div>
      </div>
    </div>
  </div>

</main>
@@include('components/_footer.html', {"theme": "black-bg animated zoomIn"})