<main class="error-main">
  @@include('components/_header.html', {"menuImg": "img/menu-dark.png", "title": "Error"})
  <div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="error-number">
        <img src="../img/flowers-2.png" alt="" class="flowers">
        <img src="../img/error-number.png" alt="error-number">
      </div>
      <h4>На сайте нет такой страницы!</h4>
      <h5>Возможно не верная ссылка <a href="/">на главную.</a></h5>
    </div>
    
  </div>
  @@include('components/_footer.html')
</main>
