@@include('components/_header.html', {"menuImg": "img/menu-light.png", "theme": "white animated zoomIn", "title": "Parigon"})
<main class="home-main">
  <div class="container">
    <div class="">
      <div class="line-elements d-flex justify-content-center align-items-center">
        <span class="line-left animated fadeIn"></span>
        <img src="img/leaves.png" class=" animated fadeIn " alt="leaves">
        <span class="line-right animated fadeIn"></span>
      </div>
      <h1 class="animated fadeIn">
        <span>Оберіть найкраще</span>
        <br />ексклюзивні сорти какао
      </h1>
    </div>
    <div class="business-areas d-flex justify-content-center justify-content-xl-between">
      <a href="#" target="_blank" class="business animated fadeInUp delay-2s faster">
        <img src="img/logo.png" alt="logo" class="d-block d-xl-none">
        <h6 class="d-block d-xl-none">PARIGON COCOA</h6>
        <p>За 5 років Один із засновників групи компаній PARIGON, особисто відвідав усі регіони Венесуели.</p>
      </a>
      <a href="#" target="_blank" class="business animated fadeInUp delay-2s fast">
        <img src="img/logo.png" alt="logo" class="d-block d-xl-none">
        <h6 class="d-block d-xl-none">PARIGON COCOA</h6>
        <p>Наші фахівці відвідали декілька десятків плантацій в кожному регіоні, які розташовані в найвіддаленіших і недоступних місцях країни. </p>
      </a>
      <a href="#" target="_blank" class="business animated fadeInUp delay-2s ">
        <img src="img/logo.png" alt="logo" class="d-block d-xl-none">
        <h6 class="d-block d-xl-none">PARIGON COCOA</h6>
        <p>Одне з наших головних досягнень, можливість запропонувати какао-боби з маленького, але всесвітньо відомого села ЧУАО.</p>
      </a>
      
    </div>
  </div>
</main>
@@include('components/_footer.html', {"theme": "white animated zoomIn"})

