@@include('components/_header-buisnes.html', {"menuImg": "img/menu-light.png", "theme": "white wow zoomIn", "title": "Parigon"})
<main class="home-main">
  <div class="container">
    <div class="">
      <div class="line-elements d-flex justify-content-center align-items-center">
        <span class="line-left wow fadeIn"></span>
        <img src="img/leaves.png" class=" wow fadeIn " alt="leaves">
        <span class="line-right wow fadeIn"></span>
      </div>
      <h1 class="animated fadeIn">
        <span>Оберіть найкраще</span>
        <br />ексклюзивні сорти какао
      </h1>
    </div>
    <div class="business-areas d-flex flex-wrap justify-content-center justify-content-xl-between">
      <a href="/coffe.html" target="_blank" class="business wow fadeInUp delay-2s faster">
        <img src="img/logo.png" alt="logo" class="d-block">
        <div>
          <h6>PARIGON COCOA</h6>
          <p>За 5 років Один із засновників групи компаній PARIGON, особисто відвідав усі регіони Венесуели.</p>
        </div>
      </a>
      <a href="/corn.html" target="_blank" class="business wow fadeInUp delay-2s fast">
        <img src="img/logo.png" alt="logo" class="d-block">
        <div>
          <h6>PARIGON COCOA</h6>
          <p>Наші фахівці відвідали декілька десятків плантацій в кожному регіоні, які розташовані в найвіддаленіших і недоступних місцях країни. </p>
        </div>
      </a>
      <a href="/kakao.html" target="_blank" class="business wow fadeInUp delay-2s">
        <img src="img/logo.png" alt="logo" class="d-block">
        <div>
          <h6>PARIGON COCOA</h6>
          <p>Одне з наших головних досягнень, можливість запропонувати какао-боби з маленького, але всесвітньо відомого села ЧУАО.</p>
        </div>
      </a>
    </div>
  </div>
</main>
@@include('components/_footer.html', {"theme": "white wow zoomIn"})

