@@include('components/_header.html', 
  {
    "menuImg": "img/menu-light.png",
    "theme": "white wow zoomIn",
    "title": "Kakao"
  }
)
<main class="kakao-main">
  <div class="bg-anim wow fadeIn" data-wow-delay="0s">
    <div class="top"></div>
    @@include('components/line-animation.html')
  </div>
  <div class="info-kakao">
    <div class="container">
      <div class="parigon-kakao d-flex justify-content-between align-items-center flex-wrap">
        <div class="photo-kakao">
          <img src="../img/kakao-pages.png" alt="kakao" class="wow fadeIn">
        </div>
        <div class="title-kakao">
          <h4 class="wow fadeIn"><span>Паригон Украина  -</span><br />
            лучшие какао бобы<br />из Венесуэлы
          </h4>
          <a href="catalog.html" class="link-text wow fadeIn"><span>Посмотреть нашу продукцию</span></a>
        </div>

      </div>
      <div class="work-stages d-flex justify-content-between flex-wrap">
        <div class="text-stages">
          <h3 class="wow fadeIn">
            Основные этапы<br />
            работы с кофе:
          </h3>
          <p class="wow fadeIn">Компанія <span>PARIGON COCOA</span> входить до групи компаній <span>PARIGON </span>з офісами у Венесуелі, Україні та Болгарії. <span>PARIGON COCOA</span> була створена з метою забезпечення виробників шоколаду постійними поставками ексклюзивних сортів ароматних какао-бобів з <span>Венесуели.</span></p>
          <a href="info-company.html" class="wow fadeIn link-text d-none d-md-flex"><span>Узнать о нас больше</span></a>
        </div>
        <div class="photo-stages">
          <div class="d-flex justify-content-between align-items-center">
            <div class="stages-wrap wow fadeIn faster">
              <div class="bg-stages">
                <img src="../img/growing.png" alt="growing" class="text">
                <img src="../img/plant.png" alt="plant " class="inner">
                <p class="number">01</p>
              </div>
            </div>
            <div class="stages-wrap wow fadeIn">
              <div class="bg-stages">
                <img src="../img/transport.png" alt="transport" class="text">
                <img src="../img/avto.png" alt="avto" class="inner">
                <p class="number">02</p>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="stages-wrap wow fadeIn slower">
              <div class="bg-stages">
                <img src="../img/processing.png" alt="grus" class="text">
                <img src="../img/soil.png" alt="soil" class="inner">
                <p class="number">03</p>
              </div>
            </div>
          </div>
          <div class="pointer d-none d-md-block wow fadeIn">
            <img src="../img/figur.png" alt="figur">
          </div>
          <a href="info-company.html" class="wow fadeIn link-text d-flex d-md-none"><span>Узнать о нас больше</span></a>
        </div>
      </div>
      <div class="benefits-collboration d-flex justify-content-between align-items-center flex-wrap">
        <div class="photo-benefits">
          <img src="../img/man.png" alt="man" class="wow fadeIn">
          <a href="preimushestvo-rabotu.html" class="wow fadeIn link-text d-block d-md-none"><span>Узнать подробнее</span></a>
        </div>
        <div class="text-benefits">
          <h3 class="wow fadeIn">Преимущества <br />
            сотрудничества
          </h3>
          <p class="wow fadeIn">Компанія <span>PARIGON COCOA</span> входить до групи компаній <span>PARIGON </span>з офісами у Венесуелі, Україні та Болгарії. <span>PARIGON COCOA</span> була створена з метою забезпечення виробників шоколаду постійними поставками ексклюзивних сортів ароматних какао-бобів з <span>Венесуели.</span></p>
          <a href="preimushestvo-rabotu.html" class="wow fadeIn link-text d-none d-md-flex"><span>Узнать подробнее</span></a>
        </div>
      </div>
    </div>
  </div>

</main>
@@include('components/_footer.html', {"theme": "black-bg wow zoomIn"})