@@include('components/_header.html', {"menuImg": "img/menu-dark.png", "theme": "black animated zoomIn", "title": "Про нас"})
<main class="company-main">
  <div class="container">
    <div class="row">
      <div class="col-6 col-xl-8 company-text-block animated zoomIn delay-1s">
        <h3>Про нас</h3>
        <p>Компанія <span>PARIGON COCOA</span> входить до групи компаній <span>PARIGON</span> з офісами у Венесуелі, Україні та Болгарії. <span>PARIGON COCOA</span> була створена з метою забезпечення виробників шоколаду постійними поставками ексклюзивних сортів ароматних какао-бобів з <span>Венесуели.</span></p>
        <p>Перед тим, як запропонувати виробникам шоколаду ароматні боби какао, наші фахівці провели величезну роботу з вивчення сортів і видів какао у <span>Венесуелі.</span></p>
        <p>За 5 років <span>Один із засновників</span> групи компаній <span>PARIGON</span>, особисто відвідав усі регіони <span>Венесуели</span>, розглянув процеси вирощування, збору, переробки та бродіння какао-бобів.</p>
      </div>
      <div class="col-6 col-xl-4">
        <div class="photo">
          <div class="animated fadeInRight delay-1-5s">
            <img src="../img/founder.png" alt="founder">
            <div class="border-photo"></div>
          </div>
          <div class="quote d-flex align-items-center animated fadeInRight delay-2s">
            <i class="fa fa-quote-right" aria-hidden="true"></i>
            <p>Одне з наших головних досягнень, можливість запропонувати какао-боби з маленького, але всесвітньо відомого села.</p>
          </div>
        </div>
        <div  class="animated fadeInRight delay-1-5s">
          <h5>Дмитрий Сергеевич Корней</h5>
          <h6>Засновник</h6>
          <div class="social d-flex justify-content-center align-items-center">
            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://mail.google.com/" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="direction">
      <h4 class="animated fadeInLeft delay-2s">Напрямок бізнесу</h4>
      <div class="d-flex business align-items-center justify-content-between">
      <a href="#" target="_blank" class="kind animated fadeInUp delay-2-5s faster">
        <div class="bg-img">
          <img src="../img/export_kava.png" class="text" alt="Експорт кави">
          <img src="../img/coffee.png" class="inner" alt="coffee">
        </div>
        <div class="name-business">
          <p>експорт кави</p>
        </div>
      </a>
      <a href="#" target="_blank" class="kind animated fadeInUp delay-2-5s fast">
        <div class="bg-img">
          <img src="../img/export_kakao.png" class="text" alt="Експорт какао">
          <img src="../img/kakao.png" class="inner" alt="kakao">
        </div>
        <div class="name-business">
          <p>експорт какао</p>
        </div>
      </a>
      <a href="#" target="_blank" class="kind animated fadeInUp delay-2-5s ">
        <div class="bg-img">
          <img src="../img/export_zerno.png" class="text" alt="Експорт зернових">
          <img src="../img/cereal.png" class="inner" alt="cereal">
        </div>
        <div class="name-business">
          <p>експорт зернових</p>
        </div>
      </a>
      </div>
    </div>
  </div>
 
</main>
@@include('components/_footer.html', {"theme": "black animated zoomIn"})
