@@include('components/_header-buisnes.html', {"menuImg": "img/menu-light.png", "theme": "white wow zoomIn", "title": "Наши партнеры"})
<main class="main-partners">
  <div class="top-title">
    <div class="containee">
      <h2 class="animated fadeIn">Наши партнеры</h2>
    </div>
  </div>
  <div class="our-partners">
    <div class="partner-line">
      @@include('components/partner-animation.html')
    </div>
    <div class="container partner-container">
      <div class="d-flex flex-wrap flex-row-reverse justify-content-between">
        <div class="text-info">
          <h3 class="animated fadeIn">Наши партнеры</h3>
          <p class="animated fadeIn">Компанія <span>PARIGON COCOA</span> входить до групи компаній <span>PARIGON </span>з офісами у Венесуелі, Україні та Болгарії. <span>PARIGON COCOA</span> була створена з метою забезпечення виробників шоколаду постійними поставками ексклюзивних сортів ароматних какао-бобів з <span>Венесуели.</span></p>
        </div>
        <div class="block-partner block-partner-1 wow fadeInLeft">
          <h5>AldenBailey</h5>
          <div class="position-relative">
            <a href="www.aldenbailey.com" target="_blank" class="fond-img">
              <img src="../img/logo-partner.png" alt="logo-partner">
            </a>
            <div class="info-partner">
              <h6>Компанія PARIGON COCOA</h6>
              <p>Була створена з метою забезпечення виробників шоколаду </p>
              <div class="contacts-partner d-flex justify-content-between">
                <div class="contact d-flex align-items-center">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <p>Венесуалла</p>
                </div>
                <div class="contact d-flex align-items-center">
                  <i class="fa fa-globe" aria-hidden="true"></i>
                  <a href="www.aldenbailey.com" target="_blank">www.aldenbailey.com</a>
                </div>
                <div class="contact d-flex align-items-center">
                  <i class="fa fa-briefcase" aria-hidden="true"></i>
                  <p>Какао бобы</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="block-partner block-partner-2 wow fadeInRight">
          <h5>AldenBailey</h5>
          <div class="position-relative">
            <a href="www.aldenbailey.com" target="_blank" class="fond-img">
              <img src="../img/logo-partner.png" alt="logo-partner">
            </a>
            <div class="info-partner">
              <h6>Компанія PARIGON COCOA</h6>
              <p>Була створена з метою забезпечення виробників шоколаду </p>
              <div class="contacts-partner d-flex justify-content-between">
                <div class="contact d-flex align-items-center">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <p>Венесуалла</p>
                </div>
                <div class="contact d-flex align-items-center">
                  <i class="fa fa-globe" aria-hidden="true"></i>
                  <a href="www.aldenbailey.com" target="_blank">www.aldenbailey.com</a>
                </div>
                <div class="contact d-flex align-items-center">
                  <i class="fa fa-briefcase" aria-hidden="true"></i>
                  <p>Какао бобы</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="block-partner wow fadeInLeft">
          <h5>AldenBailey</h5>
          <div class="position-relative">
            <a href="www.aldenbailey.com" target="_blank" class="fond-img">
              <img src="../img/logo-partner.png" alt="logo-partner">
            </a>
            <div class="info-partner">
              <h6>Компанія PARIGON COCOA</h6>
              <p>Була створена з метою забезпечення виробників шоколаду </p>
              <div class="contacts-partner d-flex justify-content-between">
                <div class="contact d-flex align-items-center">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <p>Венесуалла</p>
                </div>
                <div class="contact d-flex align-items-center">
                  <i class="fa fa-globe" aria-hidden="true"></i>
                  <a href="www.aldenbailey.com" target="_blank">www.aldenbailey.com</a>
                </div>
                <div class="contact d-flex align-items-center">
                  <i class="fa fa-briefcase" aria-hidden="true"></i>
                  <p>Какао бобы</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
@@include('components/_footer.html', {"theme": "black-bg wow zoomIn"})