@@include('components/_header.html', {"menuImg": "img/menu-light.png", "theme": "light animated zoomIn", "title": "Преимущества сотрудничества"})
<main class="preimushestvo-main">
  <div class="top-bg"></div>
  <div class="preimushestvo-rabot">
    <div class="container">
      <div class="preimushestva">
        <h4 class="animated fadeIn">
          <span>Паригон Украина</span><br />
          Преимущества сотрудничества
        </h4>
        <div class="toggle-text animated fadeIn">
          <div class="toggle-text-inner ">
            <p>Разнообразный и богатый опыт сложившаяся структура организации представляет собой интересный эксперимент проверки новых предложений. Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития.</p>
            <p>Задача организации, в особенности же постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке модели развития. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности требуют определения и уточнения модели развития. Не следует, однако забывать, что сложившаяся структура организации требуют определения и уточнения направлений прогрессивного развития. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации систем массового участия.</p>
          </div>
          <button class="d-block d-md-none show-more"><span class="show">Показать еще</span> <span class="svernut">Свернуть</span></button>
        </div>
      </div>
      <div class="row location">
        <div class="col-12 col-xl-6">
          <h4 class="animated fadeIn">Паригон всегда рядом</h4>
          <div class="toggle-text animated fadeIn">
            <div class="toggle-text-inner">
              <p>Разнообразный и богатый опыт сложившаяся структура организации представляет собой интересный эксперимент проверки новых предложений. Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития.</p>
              <p>Задача организации, в особенности же постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке модели развития. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности требуют определения и уточнения модели развития. Не следует, однако забывать, что сложившаяся структура организации требуют определения и уточнения направлений прогрессивного развития. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации систем массового участия.</p>
            </div>
            <button class="d-block d-md-none show-more"><span class="show">Показать еще</span> <span class="svernut">Свернуть</span></button>
          </div>
          <div class="download d-flex justify-content-between">
            <div class="catalog d-flex flex-column align-items-center justify-content-center animated fadeIn faster">
              <a href="#" download class="file d-flex align-items-center justify-content-center">
                <img src="../img/pdf.png" alt="pdf" class="pdf">
                @@include('components/download-icon.html')
              </a>
              <h6>Каталог 1</h6>
            </div>
            <div class="catalog d-flex flex-column align-items-center justify-content-center animated fadeIn fast">
              <a href="#" download class="file d-flex align-items-center justify-content-center">
                <img src="../img/pdf.png" alt="pdf" class="pdf">
                @@include('components/download-icon.html')
              </a>
              <h6>Каталог 1</h6>
            </div>
            <div class="catalog d-flex flex-column align-items-center justify-content-center animated fadeIn">
              <a href="#" download class="file d-flex align-items-center justify-content-center">
                <img src="../img/pdf.png" alt="pdf" class="pdf">
                @@include('components/download-icon.html')
              </a>
              <h6>Каталог 1</h6>
            </div>
          </div>
          <h5 class="animated fadeIn">Для нас нет границ, дистрибуция по всему миру.</h5>
        </div>
        <div class="col-12 col-xl-6 d-flex justify-content-center justify-content-xl-end">
          <img src="../img/map.png" alt="map" class="map animated fadeIn">
        </div>
      </div>
      <div class="logistika">
        <h4 class="animated fadeIn">Логистика под ключ</h4>
        <div class="toggle-text animated fadeIn">
          <div class="toggle-text-inner">
            <p>Разнообразный и богатый опыт сложившаяся структура организации представляет собой интересный эксперимент проверки новых предложений. Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития.</p>
            <p>Задача организации, в особенности же постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке модели развития. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности требуют определения и уточнения модели развития. Не следует, однако забывать, что сложившаяся структура организации требуют определения и уточнения направлений прогрессивного развития. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации систем массового участия.</p>
          </div>
          <button class="d-block d-md-none show-more"><span class="show">Показать еще</span> <span class="svernut">Свернуть</span></button>
        </div>
        <div class="d-flex justify-content-between flex-wrap">
          <img src="../img/logistika-1.png" alt="logistika" class="animated fadeIn faster">
          <img src="../img/logistika-2.png" alt="logistika" class="animated fadeIn">
          <img src="../img/logistika-3.png" alt="logistika" class="animated fadeIn slower">
        </div>
      </div>
      <div class="control">
        <div class="row ">
          <div class="col-6  d-none d-xl-block">
            <img src="../img/control.png" alt="control" class="control-photo animated fadeIn">
          </div>
          <div class="col-6 d-none d-xl-block">
            <h4 class="animated fadeIn">Все под контролем</h4>
            <p class="animated fadeIn">Разнообразный и богатый опыт сложившаяся структура организации представляет собой интересный эксперимент проверки новых предложений. Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития.</p>
            <p class="animated fadeIn">Задача организации, в особенности же постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке модели развития. </p>
            <img src="../img/animaziya-control.png" alt="animaziya-control" class="animaziya d-none d-xl-block animated fadeIn">
          </div>
          <div class="col-12 d-block d-xl-none">
            <div class="clearfix d-flex flex-column d-md-block">
              <img src="../img/control.png" alt="control" class="control-photo animated fadeIn">
              <h4 class="animated fadeIn"><span>Все под контролем</span></h4>
              <p class="animated fadeIn">Разнообразный и богатый опыт сложившаяся структура организации представляет собой интересный эксперимент проверки новых предложений. Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития.</p>
              <p class="animated fadeIn">Задача организации, в особенности же постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке модели развития. </p>
            </div>
            <img src="../img/animaziya-control.png" alt="animaziya-control" class="animaziya animated fadeIn">
          </div>
        </div>
      </div>
      
    </div>
    
   

  </div>
</main>

@@include('components/_footer.html', {"theme": "black-bg animated zoomIn"})