@@include('components/_header.html', {"menuImg": "img/menu-light.png", "theme": "light wow zoomIn", "title": "Товар"})
<main class="main-tovar">
  <div class="top-bg">
    <div class="container">
      <div class="d-flex justify-content-center justify-content-md-start">
        <button class="btn-border-gold wow fadeIn" onclick="goToPage('catalog.html')">В каталог</button> 
      </div>
    </div>
  </div>
  <div class="info-tovar">
    <div class="tovar-line">
      @@include('components/tovar-animation.html')
    </div>
    <div class="container info-tovar-inner">
      <div class="row">
        <div class="col-12 col-md-6 col-xl-6 photo-tovar">
          <h4 class="d-block d-md-none wow fadeIn">Название товарной позиции </h4>
          <img src="../img/photo-tovar.png" alt="tovar" class="wow fadeIn">
        </div>
        <div class="col-12 col-md-6 col-xl-6 col-left">
          <h4 class="d-none d-md-block wow fadeIn">Название товарной позиции </h4>
          <div class="row">
            <div class="col-12 col-xl-6 text-tovar">
              <div class="toggle-text wow fadeIn">
                <div class="toggle-text-inner">
                  <p>Разнообразный и богатый опыт сложившаяся структура организации представляет собой интересный эксперимент проверки новых предложений. Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития.</p>
                </div>
                <button class="d-block d-md-none show-more "><span class="show">Показать еще</span> <span class="svernut">Свернуть</span></button>
                
              </div>
             <button class="d-block d-md-none btn-black wow fadeIn" onclick="openDialog('leave-request-dialog')"><i class="fa fa-envelope" aria-hidden="true"></i> Написать</button>
              <h6 class="wow fadeIn">Підходить для всіх способів приготування</h6>
              <div class="d-flex coffemachine align-items-center wow fadeInLeft">
                <img src="../img/coffemachine-1.png" alt="coffemachine">
                <img src="../img/coffemachine-2.png" alt="coffemachine">
                <img src="../img/coffemachine-3.png" alt="coffemachine">
                <img src="../img/coffemachine-4.png" alt="coffemachine">
                <img src="../img/coffemachine-5.png" alt="coffemachine">
              </div>
              <div class="foasting">
                <div class="d-flex align-items-center">
                  <p class="animated fadeIn">4</p>
                  <span class="animated fadeInLeft"></span>
                  <span class="animated fadeInLeft"></span>
                  <span class="animated fadeInLeft"></span>
                  <span class="animated fadeInLeft"></span>
                  <span class="animated fadeInLeft"></span>
                  <span class="animated fadeInLeft"></span>
                </div>
                <h5 class="animated fadeIn">Темне обсмаження</h5>
              </div>
              
            </div>
            <div class="d-flex d-md-none d-xl-flex col-12 col-xl-6 vkus-sca flex-column align-items-center justify-content-start">
              <a href="#" onclick="openDialog('cocoa-flavor-dialog')" class="d-flex flex-column align-items-center justify-content-center"> 
                <h5 class="animated fadeIn">Опис смаку по SCA</h5>
                <img src="../img/sca.png" alt="sca" class="animated fadeIn">
              </a>
              <div class="d-flex">
                <div class="question wow fadeIn">
                  <p>?</p>
                </div>
                <h6 class="animated fadeIn">Що таке <span>CSA?</span></h6>
              </div>
              <p class="animated fadeIn">Разнообразный и богатый опыт сложившаяся структура организации представляет собой интересный эксперимент проверки новых предложений. </p>
            </div> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-xl-5">
          <button class="btn-black d-none d-md-block wow fadeIn" onclick="openDialog('leave-request-dialog')"><i class="fa fa-envelope" aria-hidden="true"></i> Написать</button>
        </div>
        <div class="col-12 d-none d-md-flex d-xl-none vkus-sca-mob">
          <div class="row">
            <div class="col-6">
              <div class="d-flex question-csa justify-content-center wow fadeIn">
                <div class="question">
                  <p>?</p>
                </div>
                <h6>Що таке <span>CSA?</span></h6>
              </div>
              <p class="animated fadeIn">Разнообразный и богатый опыт сложившаяся структура организации представляет собой интересный эксперимент проверки новых предложений. </p>
            </div>
            <div class="col-6 d-flex flex-column align-items-center">
              <a href="#" onclick="openDialog('cocoa-flavor-dialog')">
                <h5 class="animated fadeIn">Опис смаку по SCA</h5>
                <img src="../img/sca.png" alt="sca" class="animated fadeIn">
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-7 fasovka">
          <h6 class="animated fadeIn">Фасовка</h6>
          <div class="d-flex justify-content-between wrap">
            <div class="d-flex justify-content-between mob-flex">
              <div class="meshok wow fadeIn faster">
                <img src="../img/meshok.png" alt="meshok">
                <p>Мешок 60 кг<br />Advenste</p>
              </div>
              <div class="meshok wow fadeIn">
                <img src="../img/meshok.png" alt="meshok">
                <p>Мешок 60 кг<br />Advenste</p>
              </div>
              <div class="meshok wow fadeIn slower">
                <img src="../img/meshok.png" alt="meshok">
                <p>Мешок 60 кг<br />Advenste</p>
              </div>
            </div>
            <div class="konteiner d-flex flex-row flex-md-column justify-content-between">
              <div class="konteiner-inner d-flex align-items-center wow fadeIn faster">
                <img src="../img/konteiner.png" alt="konteiner">
                <p>Контейнер<br />12.5 т</p>
              </div>
              <div class="konteiner-inner d-flex align-items-center wow fadeIn">
                <img src="../img/konteiner.png" alt="konteiner">
                <p>Контейнер<br />12.5 т</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="other-varieties" id="load-animation">
        <h4 class="animated fadeIn">Другие сорта</h4>
        <div class="owl-carousel varieties-carousel wow fadeIn">
          <a href="#" class="varietie">
            <img src="../img/varietie.png" alt="varietie">
            <div class="bg-text">
              <h6>Другой сорт</h6>
              <p>Разнообразный и богатый опыт сложившаяся структура организации представляет собой интересный эксперимент проверки новых предложений. </p>
            </div>
          </a>
          <a href="#" class="varietie">
            <img src="../img/varietie.png" alt="varietie">
            <div class="bg-text">
              <h6>Другой сорт</h6>
              <p>Разнообразный и богатый опыт сложившаяся структура организации представляет собой интересный эксперимент проверки новых предложений. </p>
            </div>
          </a>
          <a href="#" class="varietie">
            <img src="../img/varietie.png" alt="varietie">
            <div class="bg-text">
              <h6>Другой сорт</h6>
              <p>Разнообразный и богатый опыт сложившаяся структура организации представляет собой интересный эксперимент проверки новых предложений. </p>
            </div>
          </a>
          <a href="#" class="varietie">
            <img src="../img/varietie.png" alt="varietie">
            <div class="bg-text">
              <h6>Другой сорт</h6>
              <p>Разнообразный и богатый опыт сложившаяся структура организации представляет собой интересный эксперимент проверки новых предложений. </p>
            </div>
          </a>
          <a href="#" class="varietie">
            <img src="../img/varietie.png" alt="varietie">
            <div class="bg-text">
              <h6>Другой сорт</h6>
              <p>Разнообразный и богатый опыт сложившаяся структура организации представляет собой интересный эксперимент проверки новых предложений. </p>
            </div>
          </a>
          <a href="#" class="varietie">
            <img src="../img/varietie.png" alt="varietie">
            <div class="bg-text">
              <h6>Другой сорт</h6>
              <p>Разнообразный и богатый опыт сложившаяся структура организации представляет собой интересный эксперимент проверки новых предложений. </p>
            </div>
          </a>
          <a href="#" class="varietie">
            <img src="../img/varietie.png" alt="varietie">
            <div class="bg-text">
              <h6>Другой сорт</h6>
              <p>Разнообразный и богатый опыт сложившаяся структура организации представляет собой интересный эксперимент проверки новых предложений. </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
@@include('components/_footer.html', {"theme": "black-bg wow zoomIn"})