header{
  position: absolute;
  padding: 40px 0 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 3;
  .logo{
    p{
      color: #ffffff;
      font-size: 25px;
      font-weight: 500;
      text-transform: uppercase;
      margin: 0 0 0 40px;
    }
  }
  .languages{
    .lang-select {
      background: none;
      border: none;
      .current {
        color: #fff;
        font-size: 16px;
      }
      &:after {
        border-color: #fff;
      }
      li.option{
        &:hover{
          background-color: #e3b079;
          
        }
      }
      li.option.selected.focus{
        display: none;
      }
    }                             
  }
  .menu{
    background-color: rgba(255, 255, 255, 0.05);
    position: relative;
    width: 90px;
    height: 71px;
    margin-left: 25px;
    border: none;
    padding: 0;
    img{
      transition: all 0.5s;
    }
    &:hover{
      img{
        transform: scale(1.1);
      }
    }
    &:focus{
      outline: none;
    }
  }
  &.black {
    .logo p{
      color: #24222d;
    }
    .languages .lang-select{
      .current{
        color: #24222d;
      }
      &:after {
        border-color: #24222d;
      }
    } 
  }
}