.main-menu{
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  opacity: 0;
  pointer-events: none;
  transition: all .3s;
  &.open {
    opacity: 1;
    pointer-events: unset;
  }
  .bg{
    position: relative;
    background: #fff;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 100px 0;
  }
  .triangle{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 0 solid #24222d;
    border-left: 100vw solid transparent;
    transition: all .5s;
    &.open {
      border-bottom: 100vh solid #24222d;
    }
  }
  .corn-menu-left{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.7s;
    transform: translateX(-140%) translateY(-50px);
  }
  .corn-menu-right{
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all 0.7s;
    transform: translateX(120%) translateY(50px);
  }
  .close-menu{
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-50%) translateY(calc(-50% + 50px));
    .btn-gold-close{
      position: relative;
      border: none;
      width: 99px;
      height: 99px;
      background-color: #e3b079;
      color: #24222d;
      font-size: 80px;
      padding: 0;
      opacity: 0;
      transform: translateY(-90px) rotate(45deg);
      transition: all 0.7s;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 30%;
        transition: all 1s;
      }
      &:focus{
        outline: none;
      }
      &:hover {
        img {
          transform: translate(-50%, -50%) rotate(405deg);
        }
      }
    }
    .close-text{
      color: #e3b079;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      margin: 80px 0 0;
      position: relative;
      opacity: 0;
      transition: all 0.7s;
      &::before{
        position: absolute;
        content: '';
        top: -45px;
        left: 50%;
        width: 2px;
        height: 32px;
        background-color: #ffffff;
        z-index: 15;
      }
    }
  }
  .menu-left{
    position: relative;
    transform: translateY(-150%);
    opacity: 0;
    transition: all 0.7s;
    h4{
      color: #e3b079;
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 60px;
      position: relative;
      &::after{
        position: absolute;
        content: '';
        left: 0;
        bottom: -30px;
        height: 3px;
        background-color: #e3b079;
        width: 10%;
      }
    }
    ul{
      padding: 0;
      list-style: none;
      margin: 0;
      li{
        margin-bottom: 25px;
        a{
          color: #e3b079;
          font-size: 28px;
          font-weight: 400;
          text-decoration: none;
          transition: all 0.3s;
          &:hover{
            color: #000;
          }
        }
      }
    }
    p{
      color: #e3b079;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 20px;
    }
    .btn-gold{
      border: none;
      width: 256px;
      height: 51px;
      background-color: #e3b079;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      transition: all 0.3s;
      &:hover{
        background-color: #000;
      }
    }
  }
  .menu-right{
    position: relative;
    transform: translateY(150%);
    opacity: 0;
    transition: all 0.7s;
    h4{
      color: #e3b079;
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 60px;
      position: relative;
      &::after{
        position: absolute;
        content: '';
        left: 0;
        bottom: -30px;
        height: 3px;
        background-color: #e3b079;
        width: 45%;
      }
    }
    ul{
      min-width: 295px;
      padding: 0;
      list-style: none;
      margin: 0;
      li{
        margin-bottom: 25px;
        a{
          color: #e3b079;
          font-size: 28px;
          font-weight: 400;
          text-decoration: none;
          transition: all 0.3s;
          &:hover{
            color: #fff;
          }
        }
      }
    }
  }
  &.animate {
    .menu-left,
    .menu-right{
      transform: translateY(0);
      opacity: 1;
    }
    .close-menu .btn-gold-close {
      transform: translateY(0) rotate(45deg);
      opacity: 1;
    }
    .close-text,
    .corn-menu-left,
    .corn-menu-right {
      opacity: 1;
    }
  }
}